@{
    ViewBag.Title = "About";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("About", "About", "Home")</li>
</ol>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    There is a flood of emotions around getting your call to serve. We are there to help answer the flood of questions that comes next.
</p>
<p>We are here to help those who are getting ready to serve find answers to all of the questions that their friends and parents will ask.</p>
<p>We do this by connecting RM's to their old missions, and asking them to help supply answers to questions as they come in.</p>
<p>We do moderate, and review answers to make sure that both questions and answers are in line with the sacred nature of these callings.</p>
