@{
    ViewBag.Title = "Contact";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Contact", "Contact", "Home")</li>
</ol>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <!--Contact Address-->
    2005 N 900 E<br />
    Provo, UT 84606<br />
    <abbr title="Phone">P:</abbr>
    801.422.0420
</address>

<address>
    <!--Contact Email-->
    <strong>Email:</strong>   <p>Suggestions@MissionFAQs.com</p><br />
</address>
<div class="row">
    <form>
        <div class="form-group">
            <h4>Send us your feedback.</h4>
            <input type="text" class="form-control" placeholder="Name"><br />
            <input type="text" class="form-control" placeholder="email"><br />
            <select class="form-control" id="sel1">
                <option>Select a Subject</option>
                <option>Update Mission Information</option>
                <option>Add new mission</option>
                <option>Volunteer to help</option>
                <option>Other</option>
            </select>
            <textarea class="form-control" placeholder="Enter your message text here."></textarea>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>
</div>