@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mission FAQs</h1>
    <p class="lead">Choose missions, and find your mission to help get answers to your questions.</p>
    <p class="btn btn-primary btn-lg">Learn more &raquo;</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            There is a flood of emotions around getting your call to serve. We are there to help answer the flood of questions that comes next.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    
</div>